#carouselExampleIndicators {
    margin-top: 10%;
}

.w-100 {
    padding-left: 5%;
    padding-right: 5%;
    
    
}

.carousel-caption {
    bottom: 0 !important;
    padding-bottom: 0 !important;
    right: 8%;
    font-weight: 900;
}

#businessTile {
    padding-left: 54%;
    font-weight: 900;
    
}

#businessStatement {
    margin-left: 54%;

}

#mobileCarouselPic {
background-image: url("./images/cattlePic1.jpg");
background-size: cover;
margin-top: 30%;
height: 200px;
}


@media screen and (max-width: 736px) {
    .carousel-caption {
        display: none;
    }
    
    
}

