
.navbar{
    background-color: transparent !important;
    font-family: 'Gochi Hand', cursive;
}

.navbar-brand {
    margin-left: 10%;
}

#logoName {
    margin-left: -15%;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color : red;
}

#address {
    margin-left: -10%;
}

#specials {
    margin-left: 9%;
}


